<div class="d-flex flex-row">
	<div class="d-flex flex-column justify-content-center flex-shrink-0 px-2" style="width: 70px">
		@if (time()) {
			<span class="badge text-bg-primary">{{time()}}</span>
		} @else {
			<span class="badge text-bg-primary">N/A</span>
		}
	</div>
	<div class="d-flex flex-column flex-grow-1">
		@if (activity(); as activity) {
			<div class="card">
				<div class="card-body">
					@if (activity.name) {
						{{activity.name}}
					} @else {
						<span class="text-body-tertiary">Empty Activity</span>
					}
				</div>
			</div>
		} @else {
			<div class="card text-bg-primary">
				<div class="card-body">
					{{fallbackLabel()}}
				</div>
			</div>
		}
	</div>
</div>
