<div class="card h-100" [style]="{'border-color': activity().color, 'background-color': subtleColor(activity().color)}">
	<div class="card-body d-flex">
		<div class="d-flex flex-grow-1 justify-content-between align-self-center">
			<div>
				@if (activity().hasIssueKey()) {
					<app-activity-issue-key [issueKey]="activity().getIssueKey()" [color]="activity().color"/>
				}
				<div>{{activity().getShortName()}}</div>
			</div>
			@if (activity().duration) {
				<div
					class="text-nowrap fw-bold"
					[style]="{'color': darkerColor(activity().color), 'font-size': '1rem'}"
				>
					{{ activity().duration }}
				</div>
			}
		</div>
	</div>
</div>
