<h2 class="d-flex flex-column flex-md-row flex-grow-1 flex-md-grow-0 align-items-baseline m-0">
	<span>{{ day.date | date }}</span>
	<small style="font-size: 0.9rem">
		<span class="d-inline d-md-none">{{DayEmoji}}</span> {{ day.date | date:'EEEE' }}
	</small>
</h2>

<button
	type="button"
	class="btn btn-sm btn-outline-primary border-0 d-md-none"
	aria-label="Add time"
>
	<i class="material-symbols-outlined">more_time</i>
</button>

<div>
	<button
		class="btn btn-sm btn-light d-none d-md-inline-block"
		title="Summary"
		(click)="showDailyOverview()"
	>
		<i class="material-symbols-outlined">donut_large</i>
	</button>
</div>
