<header class="modal-header">
  <h4 class="modal-title">
    Edit Activity
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</header>

<main class="modal-body">
  <form [formGroup]="form">
    <div>
      <label class="form-label" for="activity_name">
        Activity Name:
      </label>
      <textarea id="activity_name" class="form-control" rows="2" formControlName="name"></textarea>
    </div>
  </form>
</main>

<footer class="modal-footer">
  <button class="btn btn-outline-primary" (click)="save()">
    Save
  </button>

  <button type="button" class="btn btn-outline-danger" (click)="cancel()">
    Cancel
  </button>
</footer>
