<section class="card mb-3">
  <main class="card-body">
    <form [formGroup]="filtersForm">
      <div class="row align-items-baseline">
        <div class="col-auto">
          <label for="date-from" class="form-label">
            From:
          </label>
        </div>
        <div class="col-2">
          <div class="input-group">
            <input id="date-from" type="text" class="form-control" formControlName="dateFrom" ngbDatepicker #dateFrom="ngbDatepicker"/>
            <button type="button" class="btn btn-outline-primary" (click)="dateFrom.toggle()">
              <i class="material-icons">
                calendar_month
              </i>
            </button>
          </div>
        </div>
        <div class="col-auto">
          <label for="date-till" class="form-label">
            Till:
          </label>
        </div>
        <div class="col-2">
          <div class="input-group">
            <input id="date-till" type="text" class="form-control" formControlName="dateTill" ngbDatepicker #dateTill="ngbDatepicker"/>
            <button type="button" class="btn btn-outline-primary" (click)="dateTill.toggle()">
              <i class="material-icons">
                calendar_month
              </i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </main>
</section>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>
      ABC-123
    </td>
    <td>
      Activity Name
    </td>
  </tr>
  </tbody>
</table>
