<section class="card mb-2" [ngClass]="{ 'border-primary': status === DiffStatus.new }">
  <main class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="w-50">
            Name
          </th>

          <th scope="col" class="text-center">
            From
          </th>

          <th scope="col" class="text-center">
            Till
          </th>

          <th scope="col" class="text-center">
            Duration
          </th>

          <th scope="col" class="text-end">
            Created At
          </th>

          <th scope="col" class="text-center" style="width: 12%">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle">
          <td [ngClass]="getRowStyle()">
            {{importedActivity.name}}
          </td>

          <td class="text-center" [ngClass]="getRowStyle()">
            {{importedActivity.from}}
          </td>

          <td class="text-center" [ngClass]="getRowStyle()">
            {{importedActivity.till}}
          </td>

          <td class="text-center" [ngClass]="getRowStyle()">
            {{importedActivity.duration}}
          </td>

          <td class="text-end" [ngClass]="getRowStyle()">
            {{importedActivity.date|date}}
          </td>

          <td class="text-center align-middle" [rowSpan]="status === DiffStatus.new ? 1 : 2">
            @if (status !== DiffStatus.same) {
              <button
                class="btn btn-sm"
                [ngClass]="getBtnStyle()"
                (click)="save()"
                >
                <i class="material-symbols-outlined">done</i>
              </button>
            }

            <button class="btn btn-sm btn-outline-dark ms-1" (click)="cancel()">
              <i class="material-symbols-outlined">clear</i>
            </button>
          </td>
        </tr>
        @for (existingActivity of existingActivities; track existingActivity) {
          <tr>
            <td>
              {{existingActivity.name}}
            </td>
            <td class="text-center">
              {{existingActivity.from}}
            </td>
            <td class="text-center">
              {{existingActivity.till}}
            </td>
            <td class="text-center">
              {{existingActivity.duration}}
            </td>
            <td class="text-end">
              {{existingActivity.date|date}}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </main>
</section>
