<div *ngIf="issue">
  <section class="card mb-3">
    <h5 class="card-header">
      {{ issueKey }}
    </h5>
    <main class="card-body">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="issueNameInput" class="form-label">
            Issue name
          </label>
          <input
            id="issueNameInput"
            type="text"
            class="form-control"
            placeholder="Issue name"
            formControlName="name"
          >
        </div>

        <div class="d-flex justify-content-between">
          <span>
            <button class="btn btn-primary me-1" (click)="saveIssue()">
              Save
            </button>
            <button class="btn btn-outline-primary" (click)="back()">
              Back
            </button>
          </span>

          <span>
            <button class="btn btn-outline-danger" (click)="displayRemoveConfirmation()">
              Remove
            </button>
          </span>
        </div>
      </form>
    </main>
  </section>

  <table class="table mt-5">
    <thead>
    <tr>
      <th scope="col">
      </th>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Start
      </th>
      <th scope="col">
        End
      </th>
      <th scope="col">
        Duration
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of issue.activities; let idx = index">
      <td>
        {{idx + 1}}.
      </td>
      <td>
        {{activity.name}}
      </td>
      <td>
        {{activity.from}}
      </td>
      <td>
        {{activity.till}}
      </td>
      <td>
        {{activity.duration}}
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="border-bottom-0">
      <td colspan="4" class="border-bottom-0"></td>
      <td class="fw-bold border-bottom-0">
        {{issue.duration}}
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div *ngIf="isNotFound" class="alert alert-danger">
  The issue {{ issueKey }} is not found!
</div>
