<header class="modal-header px-3 py-2">
  <h4 class="modal-title">
    {{ sheet?.date | date }} <small class="even-smaller">{{ sheet?.date | date:'EEEE'}}</small>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</header>

<main class="modal-body p-3">
  <ng-container *ngIf="sheet">
    <section *ngFor="let task of tasks | keyvalue" class="mb-3">
      <h5 class="d-flex justify-content-between border-bottom pb-2 border-1">
        <span>
          {{task.key}}
        </span>
          <span>
          {{task.value.duration}}
        </span>
      </h5>
      <div *ngFor="let activity of task.value.activities" class="d-flex justify-content-between my-1">
        <span>
          {{getShortName(activity.name)}}
        </span>
        <span>
          <span class="badge text-bg-primary">
            {{activity.duration}}
          </span>
        </span>
      </div>
    </section>
  </ng-container>
</main>
