<header class="modal-header px-3 py-2">
  <h4 class="modal-title">
    {{ sheet?.date | date }} <small class="even-smaller">{{ sheet?.date | date:'EEEE' }}</small>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</header>

<main class="modal-body p-3">
  <ng-container *ngIf="sheet && summary && summary.tasks.length; else noActivities">
    <section *ngFor="let task of summary.tasks" class="mb-3">
      <h5 class="d-flex justify-content-between" [ngClass]="{ 'border-bottom border-1 pb-2': task.activities.length > 1 }">
        <span>
          {{ task.name }}
        </span>
        <span>
          <span class="badge text-bg-primary">
            {{ task.duration }}
          </span>
        </span>
      </h5>
      <ng-container *ngIf="task.activities.length > 1">
        <div *ngFor="let activity of task.activities" class="d-flex justify-content-between my-1">
          <span>
            {{ activity.name }}
          </span>
          <span class="fw-bold">
            {{ activity.duration }}
          </span>
        </div>
      </ng-container>
    </section>
    <footer class="border-top border-1 text-end pt-2">
      <span class="d-flex justify-content-end fw-bold">
        <i class="material-icons pe-1">schedule</i>
        {{summary.duration}}
      </span>
    </footer>
  </ng-container>

  <ng-template #noActivities>
    <div class="alert alert-info">
      No registered duration!
    </div>
  </ng-template>
</main>
