<section class="card mb-4">
  <h5 class="card-header">
    {{ issue.key }}
  </h5>
  <main class="card-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="issueNameInput" class="form-label">
          Issue name
        </label>
        <input
          id="issueNameInput"
          type="text"
          class="form-control"
          placeholder="Issue name"
          formControlName="name"
        >
      </div>

      <div class="mb-3">
        <label for="issueNameInput" class="form-label">
          Estimate
        </label>
        <input
          id="issueEstimateInput"
          type="text"
          class="form-control"
          [placeholder]="issue.estimate ?? 'estimate'"
          formControlName="estimate"
          aria-describedby="issue-estimate-help"
        >
        <div id="issue-estimate-help" class="form-text">
          Specify estimate in hours and minutes, like <code>8h</code>, <code>16h</code> or <code>1h 30m</code>.
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <span>
          <button class="btn btn-primary me-1" (click)="saveIssue()" [disabled]="form.invalid">
            Save
          </button>

          <button class="btn btn-outline-danger" (click)="displayRemoveConfirmation()">
            Remove
          </button>
        </span>

        <span>
          <button class="btn btn-outline-primary me-1" (click)="back()">
            Back
          </button>
        </span>
      </div>
    </form>
  </main>

  <footer class="card-footer">
    <span class="me-2">
      <i class="material-icons-outlined">
        assignment
      </i>

      {{issue.activities}}
    </span>

    <span class="me-2">
      <i class="material-icons-outlined">
        schedule
      </i>

      {{issue.duration}}
    </span>
  </footer>
</section>
