<table class="table">
  <thead>
  <tr>
    <th>Name
    <th>Activities</th>
    <th>Time</th>
    <th>Rate</th>
  </tr>
  </thead>
  <tbody>
    @for (projectOverview of activityTree; track projectOverview.project.id) {
      <tr>
        <td>
          {{projectOverview.project.name}}
        </td>
        <td>
          {{projectOverview.activities.length}}
        </td>
        <td>
          {{projectOverview.duration}}
        </td>
        <td>
          {{projectOverview.durationRatio|percent}}
        </td>
      </tr>
    }
  </tbody>
</table>
