<table class="table table-hover">
  <thead>
  <tr>
    <th>Project / Issue / Activity</th>
    <th class="text-center">Activities</th>
    <th class="text-center">Time</th>
    <th class="text-center">Rate</th>
    <th class="text-center">Created At</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (projectOverview of analytics.projectOverview; track projectOverview.project.id) {
      <tr class="h5" app-project-row [projectOverview]="projectOverview"></tr>

        @if (isIssuesVisible) {
            @for (issueOverview of projectOverview.issues; track issueOverview.issue.id) {
                @if (issueOverview.issue.name !== 'Miscellaneous activities') {
                    <tr class="fw-bold" app-issue-row [issueOverview]="issueOverview"></tr>
                }

                @if (isActivitiesVisible) {
                    @for (activityOverview of issueOverview.activityOverview; track activityOverview.name) {
                        <tr app-activity-row [activityOverview]="activityOverview"></tr>
                    }
                }
            }
        }
    }
  </tbody>

  <tfoot class="table-group-divider">
  <tr class="text-center fw-bold" app-totals-row [totals]="analytics.totals"></tr>
  </tfoot>
</table>
