<section class="card mb-3">
  <main class="card-body">
    <form [formGroup]="filtersForm">
      <div class="row align-items-center">
        <div class="col-auto">
          <label for="date-from" class="form-label m-0">
            From:
          </label>
        </div>
        <div class="col-2">
          <app-date-from id="date-from" [control]="filtersForm.controls.dateFrom"  />
        </div>
        <div class="col-auto">
          <label for="date-till" class="form-label m-0">
            Till:
          </label>
        </div>
        <div class="col-2">
          <app-date-till id="date-till" [control]="filtersForm.controls.dateTill" />
        </div>
        <div class="col-auto">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="issuesVisibilitySwitch" formControlName="isIssuesVisible">
            <label class="form-check-label" for="issuesVisibilitySwitch">
              Display Issues
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="activitiesVisibilitySwitch" formControlName="isActivitiesVisible">
            <label class="form-check-label" for="activitiesVisibilitySwitch">
              Display Activities
            </label>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-primary" (click)="resetFilters()">
            <i class="material-symbols-outlined">close</i> Reset
          </button>
        </div>
      </div>
    </form>
  </main>
</section>
