<section class="card mb-5">
  <h2 class="card-header">
    {{ date | date }} <small class="even-smaller">{{ date | date:'EEEE'}}</small>
  </h2>

  <form class="card-body" [formGroup]="form">
    <div class="form-row">
      <div class="col-4">
        Activity
      </div>
      <div class="col-2">
        From
      </div>
      <div class="col-2">
        Till
      </div>
      <div class="col-2">
        Duration
      </div>
    </div>
    <div formArrayName="activities">
      <app-daily-activity-item
        *ngFor="let activity of Activities; let idx = index"
        [idx]="idx"
        [activity]="activity"
        [isLastActivity]="idx === Activities.length - 1"
        [isImported]="isImportedActivity(idx)"
        (add)="addActivityRecord()"
        (remove)="removeActivityRecord($event)"
        (save)="save()"
      >
      </app-daily-activity-item>
    </div>
  </form>

  <footer class="card-footer">
    <span class="mr-2">
      <i class="material-icons text-info">assignment</i>
      {{Activities.length}}
    </span>

    <span class="mr-2">
      <i class="material-icons text-info">schedule</i>
      {{totalDuration}}
    </span>

    <span class="mr-2" [hidden]="!isChanged && !ImportedActivities">
      <i class="material-icons text-warning">warning</i>
      Unsaved!
    </span>
  </footer>
</section>
