<section class="card mb-3">
  <h2 class="card-header d-flex justify-content-between">
    <div>
      {{ date | date }} <small class="even-smaller">{{ date | date:'EEEE'}}</small>
    </div>
    <button class="btn btn-sm btn-light" title="Summary" (click)="showDailySummary()">
      <i class="material-icons">
        donut_large
      </i>
    </button>
  </h2>

  <form class="card-body" [formGroup]="form">
    <div class="row">
      <div class="col-4">
        Activity
      </div>
      <div class="col-2">
        From
      </div>
      <div class="col-2">
        Till
      </div>
      <div class="col-2">
        Duration
      </div>
    </div>
    <div formArrayName="activities">
      <app-daily-activity-item
        *ngFor="let activity of Activities; let idx = index"
        [idx]="idx"
        [activity]="activity"
        [isLastActivity]="idx === Activities.length - 1"
        [isImported]="isImportedActivity(idx)"
        (add)="addActivityRecord()"
        (remove)="removeActivityRecord($event)"
        (save)="save()"
      />
    </div>
  </form>

  <footer class="card-footer">
    <span class="me-2">
      <i class="material-icons text-info">assignment</i>
      {{Activities.length}}
    </span>

    <span class="me-2">
      <i class="material-icons text-info">schedule</i>
      {{totalDuration}}
    </span>

    <span class="me-2" [hidden]="!isChanged && !ImportedActivities">
      <i class="material-icons text-warning">warning</i>
      Unsaved!
    </span>
  </footer>
</section>
