<section class="card mt-3">
	<header class="card-header fw-bold">
		<div class="d-flex justify-content-between align-items-center">
			<div>
				Issue Import
			</div>
			<div>
				@if (TotalLength > 0) {
					<button class="btn btn-sm btn-link link-dark" (click)="saveAll()">
						Save All
					</button>

					<button class="btn btn-sm btn-link link-dark" (click)="saveNew()">
						Save New
					</button>

					<button class="btn btn-sm btn-link link-dark" (click)="cancel()">
						Cancel
					</button>
				}
			</div>
		</div>
	</header>

	<main class="card-body">
		<div class="row row-cols-2 row-cols-sm-4 g-3">
			<div class="col">
				<div class="border rounded p-3 text-center">
					<div class="fs-4 fw-bold">{{ importedIssues().length }}</div>
					<div class="text-muted small">Total Read</div>
				</div>
			</div>
			<div class="col">
				<div class="border rounded p-3 text-center border-primary">
					<div class="fs-4 fw-bold text-primary">{{ createdIssues().length }}</div>
					<div class="text-muted small">To Create</div>
				</div>
			</div>
			<div class="col">
				<div class="border rounded p-3 text-center border-success">
					<div class="fs-4 fw-bold text-success">{{ updatedIssues().length }}</div>
					<div class="text-muted small">To Update</div>
				</div>
			</div>
			<div class="col">
				<div class="border rounded p-3 text-center border-secondary">
					<div class="fs-4 fw-bold text-secondary">{{ sameIssueCount() }}</div>
					<div class="text-muted small">Same</div>
				</div>
			</div>
		</div>
	</main>
</section>
