<section class="card mt-3">
  <header class="card-header fw-bold">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        Issue Import
      </div>
      <div>
        <button class="btn btn-sm btn-link link-dark" (click)="saveAll()">
          Save All
        </button>

        <button class="btn btn-sm btn-link link-dark" (click)="saveNew()">
          Save New
        </button>

        <button class="btn btn-sm btn-link link-dark" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </header>

  <main class="card-body">
    <app-imported-issue-diff
      *ngFor="let issue of importedIssues"
      [importedIssue]="issue"
      (completed)="removeCompletedIssue($event)"
    />
  </main>
</section>
