<section class="card">
  <main class="card-body">
    <div class="row">
      <div class="col-11 pe-2">
        <div class="d-flex flex-column">
          <div>
            {{activity.controls.name.value}}
          </div>

          <hr />

          <div class="d-flex justify-content-between">
            <div>
              {{activity.controls.from.value}}
            </div>
            <div>
              {{activity.controls.duration.value}}
            </div>
            <div>
              {{activity.controls.till.value}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-1 px-0 align-content-center">
        <a href="#" class="stretched-link" (click)="message(); $event.preventDefault()">
          <i class="material-symbols-outlined text-primary">
            chevron_right
          </i>
        </a>
      </div>
    </div>
  </main>
</section>
