<div class="card d-md-none bg-secondary-subtle mb-3">
	<main class="card-body py-2">
		<app-daily-activities-week-day-header [day]="day()"/>
	</main>
</div>

@for (activity of sorted(); track activity.id) {
	<div class="d-flex gap-2">
		<div class="py-2 me-1" style="width: 40px">
			<app-activity-times [from]="activity.from" [till]="activity.till"/>
		</div>
		<div class="border border-end border-dark-subtle" [ngClass]="{'invisible': !activity.from && !activity.till}"></div>
		<div class="card my-2 flex-grow-1" [style]="{'border-color': activity.color, 'background-color': subtleColor(activity.color)}">
			<div class="card-body py-2 d-flex align-items-center justify-content-between gap-2">
					<div>
						@if (activity.getIssueKey()) {
							{{activity.getIssueKey()}}
						}
						<div>{{activity.getShortName()}}</div>
					</div>
					@if (activity.duration) {
						<span class="text-nowrap" [style]="{'color': activity.color}">
							{{activity.duration}}
						</span>
					}
			</div>
		</div>
	</div>
}
