@if (isMobile) {
	<div class="card d-md-none bg-secondary-subtle">
		<main class="card-body py-2">
			<app-daily-activities-week-day-header [day]="day"/>
		</main>
	</div>

	<form [formGroup]="form" class="mb-3">
		<div formArrayName="activities">
			@for (activityFormItem of ActivityFormArrayItems; track activityFormItem.controls.id.value; let isFirst = $first) {
				<div class="mt-3">
					<app-daily-activity-item-mobile
						[activityForm]="activityFormItem"
						[isFirst]="isFirst"
						(add)="add()"
						(proceed)="proceed($event)"
						(remove)="remove($event)"
					/>
				</div>
			}
		</div>
	</form>

	<app-daily-activities-week-day-sticky-bottom
		[activities]="activities"
		[isChanged]="isChanged"
		(save)="save()"
		(reset)="reset()"
	/>
} @else {
	<section class="card">
		<header class="card-header">
			<app-daily-activities-week-day-header [day]="day"/>
		</header>

		<main class="card-body">
			<form [formGroup]="form">
				<div class="row d-none d-md-flex">
					<div class="col-4">
						Activity
					</div>
					<div class="col-2">
						From
					</div>
					<div class="col-2">
						Till
					</div>
					<div class="col-2">
						Duration
					</div>
				</div>
				<div formArrayName="activities">
					@for (activity of ActivityFormArrayItems; track activity.controls.id.value; let idx = $index; let isFirst = $first; let isLast = $last) {
						<app-daily-activity-item
							(add)="add()"
							(remove)="remove($event)"
							(save)="save()"
							[activities]="ActivityFormArrayItems"
							[activity]="activity"
							[idx]="idx"
							[isFirst]=isFirst
							[isLast]="isLast"
							[isMobile]="isMobile"
						/>
					}
				</div>
			</form>
		</main>

		<footer class="card-footer">
			<app-daily-activities-week-day-footer (reset)="reset()" [activities]="activities" [isChanged]="isChanged"/>
		</footer>
	</section>
}
