<section class="card d-none d-md-block">
  <header class="card-header">
    <app-daily-activities-week-day-header [day]="day" />
  </header>

  <main class="card-body">
    <form [formGroup]="form">
      <div class="row d-none d-md-flex">
        <div class="col-4">
          Activity
        </div>
        <div class="col-2">
          From
        </div>
        <div class="col-2">
          Till
        </div>
        <div class="col-2">
          Durations
        </div>
      </div>
      <div formArrayName="activities">
        <app-daily-activity-item
          *ngFor="let activity of ActivityFormArrayItems; let idx = index"
          [idx]="idx"
          [activity]="activity"
          [activities]="ActivityFormArrayItems"
          [isMobile]="isMobile"
          (add)="add()"
          (remove)="remove($event)"
          (save)="save()"
        />
      </div>
    </form>
  </main>

  <footer class="card-footer">
    <app-daily-activities-week-day-footer [activities]="activities" [isChanged]="isChanged" (reset)="reset()" />
  </footer>
</section>
