@if (isMobile) {
  <section class="card d-md-none bg-secondary-subtle">
    <main class="card-body py-2">
      <app-daily-activities-week-day-header [day]="day" />
    </main>
  </section>

  <form [formGroup]="form">
    <div formArrayName="activities">
      @for (activityFormItem of ActivityFormArrayItems; track activityFormItem.controls.id.value; let idx = $index; let isFirst = $first; let isLast = $last) {
        <div class="mt-3">
          @if (isActive(activityFormItem)) {
            <app-daily-activity-item-mobile />
          } @else {
            <app-daily-activity-item-card [activity]="activityFormItem" (activate)="markActive($event)" />
          }
        </div>
      }
    </div>
  </form>
} @else {
  <section class="card">
    <header class="card-header">
      <app-daily-activities-week-day-header [day]="day" />
    </header>

    <main class="card-body">
      <form [formGroup]="form">
        <div class="row d-none d-md-flex">
          <div class="col-4">
            Activity
          </div>
          <div class="col-2">
            From
          </div>
          <div class="col-2">
            Till
          </div>
          <div class="col-2">
            Duration
          </div>
        </div>
        <div formArrayName="activities">
          @for (activity of ActivityFormArrayItems; track activity.controls.id.value; let idx = $index; let isFirst = $first; let isLast = $last) {
            <app-daily-activity-item
              [idx]="idx"
              [activity]="activity"
              [activities]="ActivityFormArrayItems"
              [isMobile]="isMobile"
              [isFirst]=isFirst
              [isLast]="isLast"
              (add)="add()"
              (remove)="remove($event)"
              (save)="save()"
            />
          }
        </div>
      </form>
    </main>

    <footer class="card-footer">
      <app-daily-activities-week-day-footer (reset)="reset()" [activities]="activities" [isChanged]="isChanged" />
    </footer>
  </section>
}
