<div class="container mt-4">
  <header class="mb-1 p-1 d-block d-md-flex justify-content-between align-items-center">
    <h1>
      Time sheet
      <a href="https://github.com/idenisovs/timesheet" target="_blank">
        @if(colorMode === 'light') {
          <img class="github" src="assets/GitHub-Mark-64px.png" alt="github" title="Visit me on GitHub" />
        } @else {
          <img class="github" src="assets/github-mark-white.png" alt="github" title="Visit me on GitHub" />
        }
      </a>
    </h1>

    <router-outlet name="page-actions"></router-outlet>
  </header>

  <app-navbar></app-navbar>

  <div class="alert alert-danger" *ngIf="IsUsingHttp">
    <i class="material-icons">warning</i> This app will be migrated to <a href="https://time.e-dreams.lv">HTTPS version</a> soon! Please, import/export your data until <strong>12 Feb 2024</strong>!
  </div>

  <router-outlet></router-outlet>
</div>

