<div class="container mt-4">
  <header class="p-1 mb-4 d-block d-md-flex justify-content-between align-items-center">
    <h1>
      Time sheet
      <a href="https://github.com/idenisovs/timesheet" target="_blank">
        <img class="github" src="assets/GitHub-Mark-64px.png" alt="github" title="Visit me on GitHub" />
      </a>
    </h1>

    <div>
      <button class="btn btn-sm btn-outline-primary me-2" (click)="openImportModal()">
        <i class="material-icons">file_download</i>
        Import from CSV
      </button>

      <button class="btn btn-sm btn-outline-primary" (click)="exportToCsv()">
        <i class="material-icons">file_upload</i>
        Export to CSV
      </button>
    </div>
  </header>

  <div class="alert alert-danger" *ngIf="IsUsingHttp">
    <i class="material-icons">warning</i> This app will be migrated to <a href="https://time.e-dreams.lv">HTTPS version</a> soon! Please, import/export your data until <strong>12 Feb 2024</strong>!
  </div>

  <router-outlet></router-outlet>
</div>

