<section class="card mb-3">
  <h2 class="card-header">
    {{project.name}}
  </h2>

  <main class="card-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="project-name" class="form-label">
          Project name
        </label>
        <input id="project-name"
               type="text"
               class="form-control"
               formControlName="name"
        >
      </div>

      <div class="mb-3">
        <label for="project-description" class="form-label">
          Description
        </label>
        <textarea id="project-description" class="form-control" formControlName="description" rows="2"></textarea>
      </div>

      <div class="mb-3">
        <label for="project-keys" class="form-label">
          Keys
        </label>
        <input id="project-keys"
               type="text"
               class="form-control"
               formControlName="keys"
        >
      </div>
    </form>

    <div class="d-flex justify-content-between">
      <div>
        <button class="btn btn-primary me-2" (click)="save()">
          Save
        </button>

        <button class="btn btn-outline-primary" (click)="cancel.emit()">
          Cancel
        </button>
      </div>

      <div>
        <button class="btn btn-outline-danger" (click)="remove()">
          Remove
        </button>
      </div>
    </div>
  </main>
</section>


