<section class="card">
  <main class="card-body">
    <h5 class="mb-3">
      <span class="badge text-bg-primary">PDB-1180</span>
      <span class="ms-2">Running tests.</span>
    </h5>
    <div class="row g-2 mb-3">
      <div class="col-6">
        <app-time-picker [control]="activity.controls.from" />
      </div>

      <div class="col-6">
        <app-time-picker [control]="activity.controls.till" />
      </div>
    </div>
    <div>
      Duration: {{activity.controls.duration.value}}
    </div>
  </main>
</section>
