<section class="card">
  <main class="card-body">
    <div class="d-flex justify-content-between mb-3">
      <h5 class="h5 m-0 p-0">
        <app-activity-item-title />
        <button type="button" class="btn btn-link btn-sm" (click)="openEditModal()">
          <i class="material-symbols-outlined">edit</i>
        </button>
      </h5>

      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-sm btn-link align-self-start p-0 m-0 no-caret" ngbDropdownToggle>
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </button>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <app-menu-item label="Add" icon="add" (click)="add.emit(ActivityId)" />
          <app-menu-item label="Edit" icon="edit" (click)="openEditModal()" />
          <app-menu-item label="Copy" icon="content_copy" />
          <app-menu-item label="Delete" icon="delete" (click)="remove.emit(ActivityId)" />
        </div>
      </div>
    </div>

    <div class="mb-3">
      {{ActivityName}}
    </div>

    <div class="row g-2 mb-3">
      <div class="col-6">
        <app-time-picker [control]="activityForm.controls.from" (changes)="handleFromChanges()" />
      </div>

      <div class="col-6">
        <app-time-picker [control]="activityForm.controls.till" (changes)="handleTillChanges()" />
      </div>
    </div>
  </main>

  <footer class="card-footer">
    Duration: {{activityForm.controls.duration.value || '0h'}}
  </footer>
</section>
