<div class="card border-primary border-2 mb-4">
  <div class="card-body d-flex justify-content-between py-2">
    <div>
      <strong *ngIf="DatesInterval.min === DatesInterval.max; else twoDates">
        {{DatesInterval.min|date}}
      </strong>
      <ng-template #twoDates>
        <strong>
          {{DatesInterval.min|date}} <span class="mx-2">—</span> {{DatesInterval.max|date}}
        </strong>
      </ng-template>
    </div>

    <div>
      <span class="me-2">
        <i class="material-icons text-primary">assignment</i>
        {{totals.activities}}
      </span>

      <span class="me-2">
        <i class="material-icons text-primary">schedule</i>
        {{TotalHours}}
      </span>
    </div>
  </div>
</div>
