<div class="card bg-secondary text-white mb-4">
  <div class="card-body d-flex justify-content-between py-2">
    <div>
      <i class="material-icons text-white">today</i>
      {{week.from|date}}
      <span class="mx-2">-</span>
      {{week.till|date}}
    </div>

    <div>
      <span class="me-2">
        <button class="btn btn-sm btn-link link-light p-0 align-top me-1" (click)="toggleMissingDays()">
          {{MissingDaysButtonLabel}}
        </button>
      </span>

      <span class="me-2">
        <i class="material-icons text-white">assignment</i>
        {{totals.activities}}
      </span>

      <span class="me-2">
        <i class="material-icons text-white">schedule</i>
        {{TotalHours}}
      </span>
    </div>
  </div>
</div>
