<section class="card mb-3">
  <h2 class="card-header">
    Project
  </h2>

  <main class="card-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="project-name" class="form-label">
          Project name
        </label>
        <input id="project-name"
               type="text"
               class="form-control"
               formControlName="name"
        >
      </div>

      <div class="mb-3">
        <label for="project-keys" class="form-label">
          Keys
        </label>
        <input id="project-keys"
               type="text"
               class="form-control"
               formControlName="keys"
        >
      </div>

      <div class="mb-3">
        <label for="project-description" class="form-label">
          Description
        </label>
        <textarea id="project-description" class="form-control" formControlName="description" rows="2">
      </textarea>
      </div>
    </form>

    <div>
      <button class="btn btn-primary me-2" (click)="save()">
        Save
      </button>

      <button class="btn btn-outline-secondary" [routerLink]="['..']">
        Cancel
      </button>
    </div>
  </main>
</section>

<table class="table mb-3">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">From</th>
    <th scope="col">Till</th>
    <th scope="col">Duration</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let activity of activities">
    <th scope="row">
      {{activity.name}}
    </th>
    <td>
      {{activity.from}}
    </td>
    <td>
      {{activity.till}}
    </td>
    <td>
      {{activity.duration}}
    </td>
  </tr>
  </tbody>
</table>

