<ng-container *ngIf="project && issues.length; else no_project_message">
  <app-project-details *ngIf="!isEditMode" [project]="project" [issues]="issues" (edit)="toggleEditMode()" />

  <app-project-edit *ngIf="isEditMode" [project]="project" (changes)="handleProjectChanges($event)" (cancel)="toggleEditMode()" />

  <app-project-issues [issues]="issues" />
</ng-container>

<ng-template #no_project_message>
  <div class="alert alert-warning">
    The project is not found!
  </div>
</ng-template>

