<header class="modal-header px-3 py-2">
	<h4 class="modal-title text-primary">
		Activity
	</h4>
	<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</header>

<main class="modal-body p-1">
	<div class="d-flex flex-column justify-content-between h-100">
		<app-adjacent-activity
			[time]="PreviousTime"
			[activity]="previousActivity"
			fallbackLabel="Start of the Day"
		/>

		<div class="flex-grow-1 py-2"> <!-- The container of whole Activity Card-->
			<div class="d-flex flex-row">
				<!-- The side rail with Time Indicator elements -->
				<div class="d-flex flex-column justify-content-around px-2" style="width: 70px">
					<span class="badge text-bg-primary">{{activity.from}}</span>
					<span class="badge text-bg-primary">{{activity.till}}</span>
				</div>

				<!-- Expand the width of Activity Card container -->
				<div class="flex-grow-1">
					<!-- Activity Card -->
					<div class="card">
						<div class="card-body">
							<div>Remaining time: {{RemainingTime}} min</div>
							<div>Activity duration: {{ActivityDuration}} min</div>
							<div>Activity uses {{(ActivityDuration / RemainingTime)|percent}} of space</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<app-adjacent-activity
			[time]="NextTime"
			[activity]="nextActivity"
			fallbackLabel="End of the Day"
		/>
	</div>
</main>
