<header class="modal-header px-3 py-2">
	<h4 class="modal-title text-primary">
		Activity
	</h4>
	<button
		type="button"
		class="btn-close"
		aria-label="Close"
		(click)="cancel()"
	></button>
</header>

<main class="modal-body p-1">
	<div class="d-flex flex-column justify-content-between h-100">
		<app-adjacent-activity
			[time]="PreviousTime"
			[activity]="previousActivity"
			fallbackLabel="Start of the Day"
		/>

		<!-- The container of whole Activity Card -->
		<section class="flex-grow-1 py-2">
			<div class="d-flex flex-row">
				<!-- Expand the width of Activity Card container -->
				<div class="flex-grow-1">
					<article class="card"
					         [style.border-color]="activity.color">
						<div class="card-body">
							<app-activity-name-input
								[control]="activityFormItem.controls.name"
							/>

							<app-activity-time-input
								label="From"
								fieldId="time-from"
								[control]="activityFormItem.controls.from"
							/>

							<app-activity-time-input
								label="Till"
								fieldId="time-till"
								[control]="activityFormItem.controls.till"
							/>

							<app-activity-duration-input
								[control]="activityFormItem.controls.duration"
							/>
						</div>
					</article>
				</div>
			</div>
		</section>

		<app-adjacent-activity
			[time]="NextTime"
			[activity]="nextActivity"
			fallbackLabel="End of the Day"
		/>
	</div>
</main>

<footer class="modal-footer">
	<div ngbDropdown placement="top-start"
	     class="d-inline-block flex-grow-1">
		<button
			type="button"
			class="btn btn-outline-primary"
			ngbDropdownToggle
		>
			Actions
		</button>
		<div ngbDropdownMenu>
			<button ngbDropdownItem (click)="remove()">
				<i class="material-symbols-outlined">delete</i> Remove
			</button>
		</div>
	</div>

	<button type="button" class="btn btn-outline-primary" (click)="save()">
		<i class="material-symbols-outlined">save</i> Save
	</button>

	<button type="button" class="btn btn-outline-secondary"
	        (click)="cancel()">
		<i class="material-symbols-outlined">cancel</i> Cancel
	</button>
</footer>
