<header class="modal-header px-3 py-2">
  <h4 class="modal-title">
    {{ day.date | date }} <small class="even-smaller">{{ day.date | date:'EEEE' }}</small>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</header>

<main class="modal-body p-3">
  <ng-container *ngIf="day && summary && summary.issues.length; else noActivities">
    <section *ngFor="let issue of summary.issues" class="mb-3">
      <h5 class="d-flex justify-content-between" [ngClass]="{ 'border-bottom border-1 pb-2': issue.activitySummaries.length > 1 }">
        <span>
          {{ issue.name }}
        </span>
        <span>
          <span class="badge bg-primary me-1">
            {{ issue.duration }}
          </span>
          <span class="badge bg-info me-1">
            {{ issue.durationRatio | percent }}
          </span>
          <span class="badge bg-success">
            {{ issue.activities.length }}
          </span>
        </span>
      </h5>
      <ng-container *ngIf="issue.activitySummaries.length > 1">
        <div *ngFor="let activity of issue.activitySummaries" class="d-flex align-items-center justify-content-between my-1">
          <div>
            {{ activity.name }}
          </div>
          <div>
            <span class="badge bg-primary me-1">
              {{ activity.duration }}
            </span>
            <span class="badge bg-info me-1">
              {{ activity.durationRatio | percent }}
            </span>
            <span class="badge bg-success">
              {{ activity.count }}
            </span>
          </div>

        </div>
      </ng-container>
    </section>
    <footer class="border-top border-1 text-end pt-2">
      <span class="d-flex justify-content-end fw-bold">
        <i class="material-icons pe-1">schedule</i>
        {{summary.duration}}
      </span>
    </footer>
  </ng-container>

  <ng-template #noActivities>
    <div class="alert alert-info">
      No activity today!
    </div>
  </ng-template>
</main>
