<section class="d-flex flex-wrap align-items-start">
  <section class="card me-2">
    <main class="card-body">
      <div class="mb-2">
        <a href="#" class="stretched-link">
          Timesheet
        </a>
      </div>
      <div>
        The time tracking project for personal purposes.
      </div>
    </main>
  </section>

  <section class="card">
    <main class="card-body">
      <div class="mb-2">
        <a href="#" class="stretched-link">
          Money Saver
        </a>
      </div>
      <div>
        Expenses tracker.
      </div>
    </main>
  </section>
</section>
