/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as *;

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(/assets/material-symbols-outlined.woff2) format('woff');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

@include color-mode(dark) {
  .btn-light {
    @extend .btn-dark; // Inherit all styles from .btn-dark
    background-color: rgba(0, 0, 0, 0); // Override specific styles
  }

  .link-dark {
    @extend .link-light;
  }
}
